<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>Formulario de cadastro de Noticia</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
			  
			  <style>
				  form{  margin: 10px;  }
			  </style>
		</head>
	<body>

		<div class="container">
				<h2>Adicionar noticia</h2>
			<div class="row">
				<div class="col-6">
					<form action="/noticias/salvar" method="POST">
						<div class="form-group">
							<label>Título</label>
							<input class="form-control" type="text" id="titulo" name="titulo" placeholder="Titulo da Noticia">
						</div>

						<div class="form-group">
							<label>Notícia</label>
							<textarea name="noticia" id="noticia" cols="10" rows="5" class="form-control"></textarea>
						</div>

						<input type="submit" class="btn btn-primary" value="Enviar">
					</form>
				</div>
			</div>
		</div>

	</body>
</html>
